body {
    margin: 0;
    padding: 25px;
    background-color: #dbeafe;
}

h1 {
    margin: 10px;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
}

hr {
    width: 70%;
    margin: 25px;
    border: 1px solid #60a5fa;
}

img {
    border: 3px solid #2563eb;
    padding: 6px;
    margin: 20px;
    background-color: white;
}

p {
    margin: 15px;
    padding: 5px;
    color: #1e40af;
}

a {
    color: #2563eb;
}

a:hover {
    color: #1e40af;
}
