body {
    margin: 0;
    padding: 30px;
    background-color: #fef3c7;
}

h1 {
    margin: 10px;
    padding: 10px;
    background-color: #ffcb72;
    color: white;
}

h3 {
    margin: 30px 0 10px 0;
    padding: 5px;
    color: #d97706;
}

hr {
    width: 70%;
    margin: 20px;
    border: 1px solid #fbbf24;
}

ul {
    background-color: white;
    padding: 20px 40px;
    border: 2px solid #fbbf24;
    margin: 15px;
}

ul li {
    color: #92400e;
}

ol {
    background-color: white;
    padding: 20px 40px;
    border: 2px solid #fbbf24;
    margin: 15px;
}

ol li {
    color: #92400e;
}

dl {
    background-color: white;
    padding: 20px;
    border: 2px solid #fbbf24;
    margin: 15px;
}
